* {
    padding: 0%;
    margin: 0%;
}
@media screen and (max-width: 764px) {
    .nav1 a {
        display: none;
    }
    .nav2 a {
        display: none;
    }
    .menuhamburguesa {
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 1.5rem;
        color: grey;
        margin-right: 30px;
    }
}
@media screen and (min-width: 764px) {
    .menuhamburguesa {
        display: none;
    }
}
.header {
    background-color: rgba(17, 24, 39, 1);
    height: 95px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav1 {
    margin-left: 60px;
    display: flex;
    gap: 2rem;
}
.nav1 a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}
.nav2 {
    margin-right: 20px;
    display: flex;
    gap: 2rem;
}
.nav2 a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}
.division2 {
    display: flex;
    align-items: center;
    background-color: rgba(17, 24, 39, 1);
    justify-items: space-between;
}
.division21 {
    padding: 30px;
    width: 50%;
    background-color: rgba(17, 24, 39, 1);
    float: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.division22 {
    width: 50%;
    background-color: rgba(17, 24, 39);
    float: right;
    display: flex;
    object-fit: scale-down;
}
.botondescuento {
    background-color: black;
    color: white;
    border-style: none;
    padding: 7px;
    border-radius: 25px;
    max-width: 330px;
    cursor: pointer;
}
.botonenviar {
    text-decoration: none;
    background-color: #369ba8;
    color: white;
    border-radius: 8px;
    border-style: none;
    padding: 15px;
    margin-left: 10px;
    max-width: 310px;
    cursor: pointer;
}
.botonconoce {
    background-color: transparent;
    color: white;
    border-style: none;
    cursor: pointer;
}
.textocomunica {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-bottom: 40px;
    font-size: 3.75rem;
    line-height: 3.50rem;
    text-decoration: dotted;
}
.textoparrafo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(209, 213, 219);
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.textocontacto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(209, 213, 219);
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.ingresacorreo {
    padding: 0.75rem;
    border: 0;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(17, 24, 39);
}
.imagencaja {
    width: 100%;
    height: 192px;
    object-fit: cover;
    border-radius: 15px;
}
.linknueva {
    text-decoration: none;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: .875rem;
    line-height: 1.25rem;
}
.linkprs {
    text-decoration: none;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.linkguitarra {
    text-decoration: none;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(107, 114, 128);
    font-size: 1rem;
    line-height: 1.5rem;
}
.linkroel {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 1.5rem;
}
.parrafofecha {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(107, 114, 128);
    font-size: .875rem;
    line-height: 1.25rem;
}
.imagenroel {
    margin: 2px;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}
.subcaja01 {
    width: 29%;
    align-items: center;
    float: left;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 2px 5px 2px 1px rgba(109, 111, 116, 0.153);
}
.caja01 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.subcaja011 {
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.subcaja0111 {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.tres {
    display: flex;
    justify-content: center;
}
.tresfoto {
    object-fit: cover;
    align-self: center;
    width: 50%;
    height: 613px;
    display: flex;
    object-position: center;
}
.trestexto {
    background-color: rgba(17, 24, 39);
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 1rem;
}
.trestextouno {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(209, 213, 219);
    font-size: 1rem;
    line-height: 1.5rem;
}
.trestextodos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font: weight;
    text-decoration: dotted;
}
.trestextotres {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(209, 213, 219);
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.trestextocuatro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.916);
    color: rgba(17, 24, 39);
    font-size: 1rem;
    line-height: 1.5rem;
    width: 180px;
    padding: 13px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.footer {
    color: rgba(156, 163, 175);
    display: flex;
    padding: 60px;
}
.linkfooter {
    text-decoration: none;
    color: rgba(107, 114, 128);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5px;
}
.iconos {
    width: 25%;
    display: flex;
    align-items: flex-start;
    padding-right: 30px;
    gap: 2rem;
    font-size: larger;
}
.noiconos {
    display: flex;
    width: 75%;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 60px;
    padding-right: 30px;
}
.titulofooter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(156, 163, 175);
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: bold;
}